%h1 My dashboard

= simple_form_for chartform, url: dashboard_path, method: 'GET' do |f|
  = f.input :type, collection: chartform.type_collection, selected: chartform.type
  = f.input :days, as: :integer, input_html: { value: chartform.days }

= render partial: 'dashboard/dashboard'
