%canvas#blood-pressure-chart{:height => "400", :width => "800"}
%canvas#weight-chart{:height => "400", :width => "800"}
%canvas#heart-rate-chart{:height => "400", :width => "800"}
%canvas#sugar-level-chart{:height => "400", :width => "800"}
