%h1 Examinations:
%ul
  - examination_types.each do |category|
    .col-sm-10
      .thumbnail
        = link_to category.name, category_entries_path(category.key)
        - current_user.entries.each do |entry|
          = entry.description
          %br

