.row
  %h1 Examinations:
.row
  - examination_types.each do |category|
    .col-sm-6.col-md-4
      .thumbnail.box
        %p
          %h3
            Recent examinations of
            %br
            = link_to category.name, category_entries_path(category.key)
          %hr
          %table.table.table-striped
            %thead
              %tr
                %th Value
                %th Date
            %tbody
            - current_user_entries.for_examination(category.key).each do |e|
              %tr
                %td= e.value_with_unit
                %td= e.my_date




