%h1 Examinations:
%ul
  - examination_types.each do |category|
    .col-sm-8.thumbnail
      %p
        Recent examinations of
        = link_to category.name, category_entries_path(category.key)
        %hr
        - current_user.entries.for_examination(category.key).last(2).each do |e|
          .col.sm-8
            .col-sm-4
              Value:
              = e.value
            .col-sm-4
              = e.date

            = e.description


