%h2 Alerts!

-alerts.each do |alert|
  .row
    .alert.col-sm-6{ class: alert.alert_color }
      .col-sm-10
        .blockquote
          .p
            .glyphicon{class: alert.glyphicon}
            =alert.content
          .footer
            =alert.date
      .col-sm-2
        = alert.check

